:root {
  --main-color: #bd6c25;
}

/* s global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #00d0ff8e;
}
body {
  font-family: "Familjen Grotesk", sans-serif;
}

.btn {
  background: linear-gradient(to right, #00d1ff, #1a83ff);
  padding: 12px 36px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
}
.btn:hover {
  background: linear-gradient(to right, #106cc9, #174ab9);
}
a:not(.cta):not(.btn) {
  position: relative;
}
a:not(.cta):not(.btn)::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #00d0ffc1, #1a83ffc1);
  transition: 0.5s;
}
a:not(.cta):not(.btn):hover::after {
  width: 100%;
}
/* ----------------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium/ */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large/ */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* e global */
/* s header */
header {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
}
header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: relative;
}

header .container .logo {
}

header img {
}

header .container nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .container nav a {
  text-decoration: none;
  color: black;
}

a.cta {
}

header .container i {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
header .menu {
  width: 300px;
  height: 0px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
  overflow: hidden;
  transition: 0.5s;
  opacity: 0;
}
header .menu.show {
  height: 400px;
  border: 1px solid #00d1ff;
  opacity: 1;
}

header .menu a {
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 1s;
  font-size: 20px;
  font-weight: 500;
  padding: 30px 20px 0px 20px;
  text-transform: uppercase;
}
header .menu a:hover {
  color: #00d1ff;
}
@media (max-width: 991px) {
  header .container nav {
    display: none;
  }
  header .container i {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
}
/* e header */
/* s main */
main {
  width: 100%;
}
main .container {
  /* margin: 0 auto; */
  /* height: calc(100vh - 80px); */
  height: calc(100vh);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 80px; */
  /* padding: 50px; */
}

main .container .l-circle,
main .container .r-circle {
  min-width: 199px;
  height: 199px;
  border-radius: 50%;
  background: linear-gradient(#4dfbfb, #788eff);
  position: relative;
  align-self: flex-end;
  margin-bottom: 50px;
  /* display: none; */
}
@media (max-width: 991px) {
  main .container {
  justify-content: center;
  }
  main .container .l-circle,
  main .container .r-circle {
    display: none;
  }
}
main .container .l-circle img,
main .container .r-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .container .l-circle {
}

main .container .m-circle {
  width: 500px;
  height: 500px;
  border: 8px solid transparent;
  border-radius: 50%;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(#4dfbfb, #788eff) border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main .container .m-circle h2 {
  font-weight: 600;
  font-size: 90px;
  line-height: 100px;
  letter-spacing: 2%;
  text-align: center;
  white-space: nowrap;
}

main .container .m-circle p {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
}
@media (max-width: 991px) {
  main .container .m-circle {
    width: 400px;
    height: 400px;
  }
  main .container .m-circle h2 {
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
  }
  main .container .m-circle p {
    font-size: 20px;
  }
}
  @media (max-width: 787px) {
    main .container .m-circle {
      width: 300px;
      height: 300px;
      gap: 20px;
    }
    main .container .m-circle h2{
      font-size: 33px;
      line-height: 35px;
    }
    main .container .m-circle .cta {
      padding: 12px 26px;
    }
    }
main .container .m-circle .cta {
}

main .container .r-circle {
}

/* e main */

/* s sec 2 */

.sec-two {
  height: 100vh;

  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.sec-two img.m-bottle {
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-45%);
}

.sec-two .l {
  width: 45%;
  height: 100%;
}

.sec-two .l .img {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.sec-two .l .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-two .r {
  width: 55%;
  /* height: 100%; */
  background-color: #20292c;
  /* background-color: #20292c8a; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-two .r ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.sec-two .r ul li {
  display: flex;
  align-content: center;
  gap: 40px;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.sec-two .r ul li img {
  width: 70px;
  height: 70px;
}

/* e sec 2 */

/* s sec 3 */
.product-section {
}
.product-section .container {
  /* width: 100%; */
  margin-top: 50px;
}
.product-section .container .heading {
  width: 100%;
  height: 120px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-section .container .heading .title {
  color: #201f1f;
}
.product-section .container .heading .title h3 {
  font-size: 60px;
  font-weight: 600;
  line-height: 100%;
  line-height: 45px;
}
.product-section .container .heading .title h3 span {
  font-size: 24px;
  font-weight: 400;
}
.product-section .container .heading a.btn {
}

/*  */
.product-section .container .products {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.product-section .container .products .cards {
  /* border: 2px solid blue; */

  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
.product-section .container .products .cards .card {
  /* border: 1px dashed; */
}
.product-section .container .products .cards .card .img-box {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.product-section .container .products .cards .card .img-box img {
  width: 100%;
}
.product-section .container .products .cards .card .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.product-section .container .products .cards .card .title span {
  font-size: 32px;
  font-weight: 400;
  color: #201f1f;
}
.product-section .container .products .cards .card .title span a.btn {
}
/* e sec 3 */
/* s about */
.about {
  width: 100%;
  height: 100vh;
  background-image: url(../media/13264384_5195021\ 1.png);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.about .content {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.about .content .heading {
}
.about .content .heading h2 {
  font-size: 60px;
  font-weight: 600;
}
.about .content .heading span {
  font-size: 24px;
  font-weight: 400;
}
.about .content p {
  font-size: 20px;
  font-weight: 400;
  width: 80%;
  line-height: 32px;
}
.about .list {
  width: 50%;
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  color: white;
}
.about .list .item {
  max-height: 128px;
  min-height: 128px;
  counter-increment: list-counter;
  font-size: 32px;
  border: 1px solid #fff;
  opacity: 1;
  gap: 20px;
  border-radius: 24px;
  border-width: 1px;
  padding: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.about .list .item::before {
  content: counter(list-counter);
  font-size: 60px;
  font-weight: 600;
  display: block;
  height: 100%;
}

/* e about */
/* s faq */
.faq {
  width: 100%;
  background-color: #f3f5f6;
}
.faq .container {
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}
.faq .container .content {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 18.7px;
  /* overflow: hidden; */

  counter-reset: list-counter;
  position: relative;
}
.faq .container .content hr {
  border: none;
  background-color: #f3f5f6;
  z-index: 999;
  width: 100%;
  height: 5px;
}
.faq .container .content .question {
  counter-increment: list-counter;
  /* background-color: #36b4d1; */
  /* border: 1px solid red; */
  width: 80%;
  position: relative;
}
.faq .container .content .question::before {
  content: "0" counter(list-counter);
  position: absolute;
  left: -70px;
  color: #3c3c4380;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.25px;
}

.faq .container .content .question .heading {
  display: flex;
  justify-content: space-between;
}
.faq .container .content .question .heading h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #201f1f;
}
.faq .container .content .question p {
  height: 0%;
  overflow: hidden;
  opacity: 0;
  transition: 0.4s;
  color: #3c3c43d9;
}
.faq .container .content .question .active {
  height: 100%;
  opacity: 1;
  margin-top: 20px;
}
/* check */
.faq .container .content .question .heading input[type="checkbox"] {
  display: none;
}
.faq .container .content .question .heading .custom-checkbox {
  width: 48px;
  height: 48px;
  background-color: #f3f5f6;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.faq .container .content .question .heading .custom-checkbox::after {
  content: "\2b";
  font-family: "font awesome 5 free";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.faq .container .content .question .heading .custom-checkbox {
}

.faq
  .container
  .content
  .question
  .heading
  input[type="checkbox"]:checked
  + .custom-checkbox {
  width: 48px;
  height: 48px;
  background: linear-gradient(90deg, #00d1ff 0%, #1a83ff 100%);
  border-radius: 50%;
  position: relative;
}
.faq
  .container
  .content
  .question
  .heading
  input[type="checkbox"]:checked
  + .custom-checkbox::after {
  transform: translate(-50%, -50%) rotate(45deg);
  color: #f3f5f6;
}

/* e faq */
/* s contact */
.contact {
  width: 100%;
  height: 100vh;
  padding: 80px 95px;
}
.contact .content {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(32, 31, 31, 0.8) 0%, #201f1f 100%);
  border-radius: 18.7px;
  color: #f3f5f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  overflow: hidden;
}
.contact .content > div {
  width: 50%;
  height: 100%;
  /* background-color: #1a83ff; */
  position: relative;
}
.contact .content > div img {
  width: 500px;
  position: absolute;
  bottom: -60%;
  left: -40%;
}
.contact .heading {
}
.contact .heading h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3%;
}
.contact .heading p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  line-height: 150%;
}
.contact label span {
  display: block;
  margin-bottom: 5px;
}
.contact form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  height: 53px;
  background-color: #343333;
  color: #f3f5f6;
  caret-color: #00d1ff;
  outline: none;
  border: 0.86px solid #8d8d8d;
  border-radius: 5.15px;
  padding: 18px 28px;
}
.contact form input[type="text"] {
}
.contact form input[type="email"] {
}
.contact form textarea {
  height: 87px;
}
.contact form input[type="submit"] {
  width: fit-content;
  height: 49px;
  border-radius: 100px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
/* e contact */
/* s footer  */
footer {
  width: 100%;
  height: 216px;
  background-color: #201f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  position: relative;
}

footer nav {
  width: 90%;
}
footer .unav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .unav .logo {
}
footer .unav .logo img {
}
footer .unav ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .unav ul li {
}

footer .unav ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer .lnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .lnav .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .lnav .social i {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #535353;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
footer .lnav ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer .lnav ul li {
}
footer .lnav ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer .copyright {
  width: 100%;
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #323232;
  text-align: center;
}
footer .copyright span {
  color: #858585;
}
/* e footer  */
